
<div style="height:100%;overflow:hidden;background-image: url('../images/bg.jpg')">

    <!-- <div class="login-left-column"></div> -->
    <div  style="width: 500px;margin: 350px auto;border: 10px solid rgba(255,255,255,0.4);border-radius: 10px">
        <form class="form clearfix" role="form" style="background-color:#ffffff;padding: 10px">

            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="{{'LOGIN.USERNAME-PLACEHOLDER' | translate}}" ng-model="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="{{'LOGIN.PASSWORD-PLACEHOLDER' | translate}}" ng-model="password" >
            </div>
            <div class="btn-group pull-right">
                <button id="login" type="submit" class="btn btn-primary" ng-click="login()" ng-disabled="model.loading">
                    {{'LOGIN.ACTION.CONFIRM' | translate}}
                </button>
            </div>
            <p ng-if="invalidCredentials" class="login-error" translate="LOGIN.INVALID-CREDENTIALS"></p>
        </form>

    </div>

</div>
